.pointor {
  cursor: pointer;
}

.container-fluid {
  overflow-y: scroll;
  height: calc(100vh - 69px);
  background: #3b3c3d !important;
}

.d-flex {
  flex-wrap: wrap;
}

.absolu {
  background-color: #38a934;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.svg {
  padding: 15px;
}

.stat-card {
  width: 400px;
  height: 150px;
}

.card {
  border: none;
  margin: 15px;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.175) !important;
}

.app-container {
  height: 100%;
  margin: 0;
}
.app-sidenav {
  width: 230px;
  color: white;
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
