<div class="container" mat-dialog-content>
    <h1 [align]="'center'" mat-dialog-title  class="titre colorBlue">Editer d'un produit</h1>
  <div class="row mt-1 mb-3">
    <div class="mb-3">
        <label for="">Nom du produit</label> 
        <input type="text"  name="nom" class="form-control" placeholder="nom du produit">
     </div> 

     <div class="mb-3">
        <label for="">Prix</label>
        <input type="number"  name="nom" class="form-control" placeholder="prix">
     </div>

     <div class="mb-3">
        <label for="">Poids</label>
        <input type="number"  name="nom" class="form-control" placeholder="poids">
     </div>
     

     <div class="mb-3">
        <label for=""> categorie </label>
        <select name="" id="" class="form-control">
            <option value="">pharmacie Gaston</option>
            <option value="">pharmacie Gaston</option>
            <option value="">pharmacie Gaston</option>
           </select>
     </div>

     <div class="mb-3">
        <label for=""> Description </label>
        <textarea name="" id="" cols="5" rows="5" class="form-control" placeholder="description"></textarea>
     </div>
    
     <div class="mb-3">
        <label for=""> logo </label>
        <input type="file"  name="nom" class="form-control" placeholder="latitude">
     </div>
     <div class="row gap-3 text-end">
        <button id="mettreAjour" mat-raised-button  color="primary" >  <i  class="fa fa-spinner fa-spin"></i> Mettre à jour  </button>
        <div>
          <button id="supprimer" mat-raised-button color="warn" > supprimer le produits </button>
        </div>
      </div>

  </div>
</div>
