<h1 mat-dialog-title class="titre shadow colorGreen">Modifier ce produit</h1>
<mat-dialog-content>
  <form class="py-3" [formGroup]="section">
    <div class="mb-3">
      <label for="">Nom du produit</label>
      <input
        type="text"
        formControlName="name"
        name="nom"
        class="form-control"
        placeholder="nom du produit"
      />
    </div>

    <div class="mb-3 flex">
      <div>
        <img src="/../assets/Icone LEKKI.png" alt="" />
      </div>

      <div class="grow">
        <div class="mb-3">
          <label for="">Prix</label>
          <input
            type="number"
            formControlName="price"
            name="nom"
            class="form-control"
            placeholder="prix"
          />
        </div>
        <div>
          <label for="">Poids</label>
          <input
            type="text"
            formControlName="poids"
            name="nom"
            class="form-control"
            placeholder="poids"
          />
        </div>
      </div>
    </div>

    <div class="mb-3" *ngIf="PharmacieData">
      <label for="">Choisir la pharmacie</label>
      <select
        (change)="changePhar($event)"
        formControlName="pharmacie"
        name=""
        id=""
        class="form-select"
      >
        <option *ngFor="let data of PharmacieData.allPhar" [value]="data.id">
          {{ data.name }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for=""> Choisir la catégorie </label>
      <select
        (change)="ChangerCate($event)"
        name=""
        formControlName="categorie"
        id=""
        class="form-select"
      >
        <option *ngFor="let data of categorie" [value]="data">
          {{ data }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for=""> Description </label>
      <textarea
        name=""
        formControlName="description"
        id=""
        cols="5"
        rows="5"
        class="form-control"
        placeholder="description"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for=""> Changer l'image de ce produit </label>
      <input
        (change)="GetFile($event)"
        type="file"
        name="nom"
        class="form-control"
        placeholder="latitude"
      />
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="shadow flex-2">
  <button
    (click)="Update()"
    id="mettreAjour"
    mat-raised-button
    color="primary"
    class="mb-4"
  >
    <i *ngIf="loadeUpdate" class="fa fa-spinner fa-spin"></i> Mettre à jour
  </button>

  <button (click)="deleProduct()" id="supprimer" mat-raised-button>
    <i *ngIf="loaderDelete" class="fa fa-spinner fa-spin"></i> Supprimer ce
    produit
  </button>
</mat-dialog-actions>
