//Général
.bgBlue{
    background-color: #0590e6;
  }
  
  .bgYellow{
    background-color: #ffb800;
  }
  
  .colorBlue{
    color: #0590e6;
  }
  
  .colorYellow{
    color: #ffb800;
  }
  
  .bgWhite{
    background-color: white;
  }
  
  .colorWhite{
    color: white;
  }
  
  .inlineBlock{
    display: inline-block;
  }
  
  
  .form-control{
      margin: 4px;
  }
  button{
      //margin: 8px;
  }
  
  label{
    padding-bottom: 4px;
    //padding-left: 3px;
    font-weight: 500;
  }
  
  hr{
    margin-top: 2px;
    margin-bottom: 16px;
    color: #0590e6;
  }
  
  small{
    color: #0590e6;
  }
  
  h5{
    color: #0590e6;
  }
  
  #mettreAjour{
    background-color: #38A934!important;
    border-radius: 30px;
    font-size: 18px;
  }
  
  #supprimer{
    background-color: red!important;
    border-radius: 30px;
    color: white;
    font-size: 18px;
  }
  
  .titre{
    font-size: 24px;
  }
  