
<mat-sidenav-container class="app-container shadow" *ngIf="!service.MenuHide" >
  <mat-sidenav #sidenav mode="side"  class="app-sidenav" opened="true"  >
    <div class="text-center py-3">
      <img src="../assets/logo2.png" class="mx-auto my-auto" alt="">
    </div>
    <mat-nav-list>
    <div *ngIf="service.isAdmin" class="admin-general">
      <mat-list-item class="mb-2" routerLink="/" [activated]="service.activeMenuLink == 'home'" (click)="service.activeMenuLink = 'home'"  >
        <div class="d-flex" >
          <span class="my-auto"><mat-icon>home</mat-icon> </span>
          <h6 class="my-auto">Tableau de bord</h6>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/pharmacie" [activated]="service.activeMenuLink == 'pharmacie'" (click)="service.activeMenuLink = 'pharmacie'" >
        <div class="d-flex" >
          <span class="my-auto"><mat-icon>business</mat-icon> </span>
          <h6 class="my-auto">Pharmacies</h6>
        </div>
      </mat-list-item>

     
      <mat-list-item routerLink="/admin_product" [activated]="service.activeMenuLink == 'admin_product'" (click)="service.activeMenuLink = 'admin_product'"  >
        <div class="d-flex" >
          <span class="my-auto"><mat-icon>art_track</mat-icon></span>
          <h6 class="my-auto">Produits</h6>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/admin_commandes" [activated]="service.activeMenuLink == 'admin_commandes'" (click)="service.activeMenuLink = 'admin_commandes'">
        <div class="d-flex" >
          <span class="my-auto"><mat-icon>calendar_view_day</mat-icon></span>
          <h6 class="my-auto">Commandes</h6>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/clients" [activated]="service.activeMenuLink == 'clients'" (click)="service.activeMenuLink = 'clients'">
        <div class="d-flex" >
          <span class="my-auto text-center"><mat-icon>supervisor_account</mat-icon></span>
          <h6 class="my-auto">Clients</h6>
        </div>
      </mat-list-item>
    </div>
    <div *ngIf="!service.isAdmin" class="admin-pharmacie">
      <mat-list-item  [routerLink]="'/admin_pharmacie/'+service.pharmacieId"  [activated]="service.activeMenuLink == 'admin_pharmacie'" (click)="service.activeMenuLink = 'admin_pharmacie'" >
        <div class="d-flex" >
          <span class="my-auto"><mat-icon>home</mat-icon></span>
          <h6 class="my-auto"> 
            Acceuil 
          </h6>
        </div>
      </mat-list-item>

      <mat-list-item  [routerLink]="'/admin_pharmacie_profil/'+service.pharmacieId" [activated]="service.activeMenuLink == 'admin_pharmacie_profil'" (click)="service.activeMenuLink = 'admin_pharmacie_profil'" >
        <div class="d-flex" >
          <span class="my-auto"><mat-icon >person</mat-icon> </span>
          <h6 class="my-auto">
            Profil
          </h6>
        </div>
      </mat-list-item>

      <mat-list-item  routerLink="/admin_pharmacie_commandes" [activated]="service.activeMenuLink == 'admin_pharmacie_commandes'" (click)="service.activeMenuLink = 'admin_pharmacie_commandes'" >
        <div class="d-flex" >
          <span class="my-auto"><mat-icon >calendar_view_day</mat-icon> </span>
          <h6 class="my-auto">
            commandes 
          </h6>
        </div>
      </mat-list-item>
      <mat-list-item  [routerLink]="'/admin_pharmacie_products/'+service.pharmacieId" [activated]="service.activeMenuLink == 'admin_pharmacie_products'" (click)="service.activeMenuLink = 'admin_pharmacie_products'" >
        <div class="d-flex" >
          <span class="my-auto"><mat-icon >art_track</mat-icon> </span>
          <h6 class="my-auto">
            Produits
          </h6>
        </div>
      </mat-list-item>

      <mat-list-item  routerLink="/admin_pharmacie_messages" [activated]="service.activeMenuLink == 'admin_pharmacie_messages'" (click)="service.activeMenuLink = 'admin_pharmacie_messages'" >
        <div class="d-flex" >
          <span class="my-auto"><mat-icon >chat</mat-icon> </span>
          <h6 class="my-auto">
            Messages
          </h6>
        </div>
      </mat-list-item>
    </div>
   
    
    <hr>
    <mat-list-item>
      <div class="d-flex" >
        <span class="my-auto"><mat-icon>meeting_room</mat-icon> </span>
        <h6 class="my-auto">Se déconnecter</h6>
      </div>
    </mat-list-item>
  </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
  <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>

<router-outlet *ngIf="service.MenuHide"></router-outlet>
