//Général
.bgBlue{
    background-color: #38A934;
  }
  
  .bgYellow{
    background-color: #ffb800;
  }
  
  .colorBlue{
    color: #38A934;
  }
  
  .colorYellow{
    color: #ffb800;
  }
  
  .bgWhite{
    background-color: white;
  }
  
  .colorWhite{
    color: white;
  }
  
  .inlineBlock{
    display: inline-block;
  }
  
  a{
    color: #38A934;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 0px;
    text-align: start;
    svg{
      color: white;
    }
  }
  
  a:hover{
    svg{
      color: #ffb800;
    }
  }
  
  //body
  
  .codeID{
    background-color: #38A934;
    color: white;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  
  .code{
    color: #ffb800;
    letter-spacing: 4px;
    display: inline-block;
    margin-left: 7px;
  }
  
  .ajouter{
    background-color: #ffb800;
    border-radius: 30px;
    font-size: 18px;
  }
  
  .ajouter:hover{
    svg{
      color: #38A934;
    }
  }
  
  .statut{
      padding: 2px;
      background-color: darkgoldenrod;
      color: white;
      text-align: center;
      border-radius: 10px;
      i{
          font-size: 20px;
      }
      :hover{
          cursor: pointer;
      }
  }
  .client{
      h6{
          margin-left: 10px;
          color: #38A934;
      }
      h6:hover{
          cursor: pointer;
      }
      p{
         padding-top: 10px;
      }
  }
  .adresse{
      h6{
          margin-left: 10px;
      }
  }
  
  .cardProduct{
    border-color: #38A934;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .list-group-flush{
    border-color: #eee;
  
  }
  
  
  .size{
    font-size: 20px;
  }
  
  li span{
    font-size: 20px;
    display: inline-block;
  }
  
  
  small{
    margin-top: 10px;
  }
  
  .prix{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  