.button {
    display: inline-block;
    margin: 4px;
    margin-left: 50px;
}


.sticky-top{
  background-color: #fafafa;
  top: 0;
}


.butto{
    padding: 6px;
    color: white;
    border-radius: 10px;
    background-color: #38A934;
    border-color: white;
    i{
        font-size: 20px;
    }
}