<h2 mat-dialog-title class="titre colorGreen shadow">Ajouter un produit</h2>
<mat-dialog-content>
  <form class="py-3" [formGroup]="section">
    <div class="mb-3">
      <label for="">Nom du produit</label>
      <input
        type="text"
        formControlName="name"
        name="nom"
        class="form-control"
        placeholder="nom du produit"
      />
    </div>
    
    <div class="mb-3">
      <label for="">Poids</label>
      <input
        type="text"
        formControlName="poids"
        name="nom"
        class="form-control"
        placeholder="poids"
      />
    </div>

    <!-- <div class="mb-3">
      <label for=""> combien dans la boite </label>
      <input
        type="text"
        formControlName="smallDescribe"
        name="nom"
        class="form-control"
        placeholder="par exemple le nombre de contenu qui existe dans une boite de produit"
      />
    </div> -->
    
    <!-- <div class="mb-3">
      <label for="">Choisir une pharmacie</label>
      <select
        (change)="ChoosePhar($event)"
        formControlName="pharmacie"
        name=""
        id=""
        class="form-select"
      >
        <option *ngFor="let data of allPhar" [value]="data.id">
          {{ data.name }}
        </option>
      </select>
    </div> -->

    <!-- <div class="mb-3">
      <label for=""> Choisir une catégorie </label>
      <select
        (change)="ChooseCate($event)"
        formControlName="categorie"
        name=""
        id=""
        class="form-select"
      >
        <option *ngFor="let data of choseCate" [value]="data">
          {{ data }}
        </option>
      </select>
    </div> -->

    <div class="mb-3">
      <label for=""> Description </label>
      <textarea
        formControlName="description"
        name=""
        id=""
        cols="5"
        rows="5"
        class="form-control"
        placeholder="description"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for=""> Image du produit (300*300) </label>
      <input
        (change)="GetFile($event)"
        type="file"
        name="nom"
        class="form-control"
        placeholder="latitude"
      />
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="shadow">
  <button
    mat-raised-button
    color="primary"
    [disabled]="loader"
    (click)="AddProduct()"
    class="mx-auto"
  >
    <i *ngIf="loader" class="fa fa-spinner fa-spin"></i>

    Ajouter le produit
  </button>
</mat-dialog-actions>
