//Général
.bgGreen {
  background-color: #38a934;
}

.bgBlack {
  background-color: #000;
}

.colorGreen {
  color: #38a934;
}

.colorBlack {
  color: #000;
}

.bgWhite {
  background-color: white;
}

.colorWhite {
  color: white;
}

button {
  color: white !important;
  border-radius: 100px;
  width: 90%;
}

.titre {
  font-size: 24px;
  text-align: center;
}
