<h1 mat-dialog-title class="titre shadow colorGreen">Ajout d'une pharmacie</h1>
<mat-dialog-content>
  <form class="py-2" [formGroup]="Section">
    <div class="mb-3">
      <label for="">Nom de la pharmacie</label>
      <input
        type="text"
        formControlName="name"
        name="nom"
        class="form-control"
        placeholder="nom de la pharmacie"
      />
    </div>

    <div class="mb-3">
      <label for="">Numéro de téléphone</label>
      <input
        type="number"
        formControlName="contact"
        name="nom"
        class="form-control"
        placeholder="numéro de téléphone"
      />
    </div>

    <div class="mb-3">
      <label for="">Email </label>
      <input
        type="text"
        formControlName="contactEmail"
        name="nom"
        class="form-control"
        placeholder="Email de contacte"
      />
    </div>


    <div class="mb-3">
      <label for=""> Description </label>
      <textarea
        formControlName="description"
        name=""
        id=""
        cols="5"
        rows="5"
        class="form-control"
        placeholder="description"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for=""> Longitude </label>
      <input
        type="number"
        formControlName="longitude"
        name="nom"
        class="form-control"
        placeholder="longitude"
      />
    </div>

    <div class="mb-3">
      <label for=""> Latitude </label>
      <input
        type="number"
        formControlName="latitude"
        name="nom"
        class="form-control"
        placeholder="latitude"
      />
    </div>
    <div class="mb-3">
      <label for=""> Photo de couverture </label>
      <input
        type="file"
        (change)="TakeImg($event)"
        name="nom"
        class="form-control"
        placeholder="latitude"
      />
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="shadow">
  <button
    mat-raised-button
    [disabled]="loader"
    class="mx-auto"
    (click)="AddPharmacie()"
    color="primary"
  >
    <i *ngIf="loader" class="fa fa-spinner fa-spin"></i>

    Ajouter la pharmacie
  </button>
</mat-dialog-actions>
