
.content{
    :hover{
        background-color: white;
        cursor: pointer;
    }
}


.sticky-top{
  background-color: #fafafa;
}

button{
  background-color: #38A934!important;
  color: white;
  border-radius: 30px;
}

button:hover{
  svg{
    color: #ffb800;
  }
}

.recherche{
  border-radius: 30px;
  border-color: #38A934;
}

#recherche{
  background-color: white;
  svg{
    fill: #38A934;
  }
}
