<mat-toolbar>
    <mat-toolbar-row class="shadow">
      <nav class="navbar col-md-12">
        <div class="container-fluid">
          <h4 class="my-0">{{ NowDate | date }}</h4>
          <h1 class="colorYellow my-0">Tableau de bord</h1>
  
          <form class="d-flex my-auto">
            <img src="../../assets/logo2.png" width="55px" class="rounded-pill logoPartenaire" alt="LogoPartenaire">
            <div class="ps-2">
              <h4 class="mb-0">Admin Lekki</h4>
              <span class="depuis ps-1 inlineBlock"><span class="">admin lekki</span></span>
            </div>
          </form>
        </div>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
