
//////////////////////////////////////////////////////////

.recherche {
  border-radius: 30px;
  border-color: #38a934;
}

#recherche {
  background-color: white;
  svg {
    fill: #38a934;
  }
}
.table thead th {
  position: sticky;
  top: 70px;
  z-index: 1;
  background-color: #38a934;
  color: white;
}

.sticky-top {
  background-color: #fafafa;
  top: 0;
}

tr {
  cursor: pointer;
}

tr:hover {
  .status,
  i {
    color: #000;
  }
}

.icon-arrow {
  color: #38a934;
}
.status {
  color: #38a934;
}

.adresse {
  text-align: justify;
}

.content {
  background: #ffffff;
  color: white;
  height: calc(100vh - 69px);
  overflow: scroll;
}

.second {
  background: #ffffff;
}